<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adriana.piggybank_moviles">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Save For Future"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityMain"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityCategories"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ActivityCreateprofile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActivityGastos"
            android:label="Gastos"/>
        <activity
            android:name=".ActivityInit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActivityMenu" />
        <activity
            android:name=".ActivityNewgoal"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Nueva meta"/>
        <activity android:name=".ActivityRetoDia"
            android:label="Reto del día"/>
        <activity android:name=".ActivityIngresos"
            android:label="Ingresos"/>
        <activity
            android:name=".ActivityEstadisticas"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Estadísticas"/>
        <activity android:name=".ActivityNuevoGasto"
            android:label="Nuevo gasto"/>
        <activity
            android:name=".ActivitySplashScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActivityMetas" />

        <!--<activity android:name=".itemMeta"></activity>-->
        <receiver
            android:name=".MyWidgetReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_info">
            </meta-data>
        </receiver>
    </application>

</manifest>